[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = /Users/jw68539/.dotfiles/plugins/zsh-autosuggestions
[submodule "plugins/zsh-autosuggestions"]
	path = plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
