[submodule "plugins/zsh-autosuggestions"]
	path = plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "powerlevel9k"]
	path = powerlevel9k
	url = /Users/jon/.dotfiles/themes/powerlevel9k
[submodule "/Users/jw68539/.dotfiles/plugins/vim-markdown"]
	path = /Users/jw68539/.dotfiles/plugins/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
